/* 小于768px的屏幕 */
#info {
    width: 100%;
    height: 300px;
    background-color: lightblue;
    color: red;
    font-size: 18px;
    text-align: center;
}

/* 大于768px的屏幕 */
@media (min-width: 768px) {
    /* 720P 显示 */
    #kof {
        width: 1280px;
        height: 720px;
        /* background-color: lightblue; */
        /* background-image: url("../images/backgroud/stage.gif"); */
        background-image: url("../images/backgroud/bus_back.gif");
        /* background-repeat: no-repeat; */
        background-size: 100% 100%;
        /* background-size: 200% 100%; */
        background-position: top;
        /* TODO 背景图片固定，不出现滚动条 */
        /* background-attachment: fixed; */
        /* overflow: hidden; */
        /* vertical-align: bottom; */
        /* display: block; */
        position: absolute;
    }

    /* 隐藏低分辨率设备提示 */
    #info {
        display: none;
    }

    #kof > .kof-head {
        width: 100%;
        height: 80px;
        /* background-color: lightblue; */
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
    }

    #kof > .kof-head > .kof-head-hp-0 {
        height: 40px;
        /* calc使用时，运算符左右两边一定要有空格！！！ */
        width: calc(50% - 60px);
        background-color: lightgreen;
        margin-left: 20px;
        border: white 5px solid;
        /* 去掉与计时器重叠的部分 */
        border-right: none;
        /* 只占用内部空间 */
        box-sizing: border-box;
    }

    #kof > .kof-head > .kof-head-timer {
        height: 80px;
        width: 80px;
        background-color: orange;
        border-radius: 50%;
        border: black 5px solid;
        /* 只占用内部空间 */
        box-sizing: border-box;

        /* 文字 */
        color: white;
        font-weight: 800;
        font-size: 40px;
        text-align: center;
        /* 竖直居中 */
        line-height: 80px;
    }

    #kof > .kof-head > .kof-head-hp-1 {
        height: 40px;
        width: calc(50% - 60px);
        background-color: lightgreen;
        margin-right: 20px;
        border: white 5px solid;
        /* 去掉与计时器重叠的部分 */
        border-left: none;
        /* 只占用内部空间 */
        box-sizing: border-box;
    }
}
